p {
    font-size: 16px;
    color: #262626;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-heading {
    color: brown;
    font-size: 26px;
}

.underline {
    height: 04px;
    width: 12rem;
    background-color: rgb(22, 161, 161);
    margin-top: 10px;
}

.bg-c-light {
    background-color: rgb(227, 227, 227);
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: aqua;
}