/* p {
    font-size: 16px;
    color: #262626;
} */

/* .section {
    padding-top: 40px;
    padding-bottom: 40px;
} */

.main-heading {
  color: brown;
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 35%;
  background-color: #ca8b04;
  /* margin-top: 10px; */
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.bg-c-light {
  background-color: rgb(227, 227, 227);
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #ca8b04;
  /* color: black; */
}
