@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
/* ====================================== */

.navbar-bgc {
  background: -webkit-linear-gradient(90deg, #18181b, #ca8b04, #18181b);
}

/* Add your custom styles and animations here */
.swiper-slide {
  transition: opacity 0.5s ease;
  /* Add a smooth transition for the fade effect */
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  /* Set the opacity for non-active slides */
}

.swiper-container {
  overflow: hidden;
}

/* =================== FIRST SECTION ================= */

#first-sect {
  background: -webkit-linear-gradient(90deg, #18181b, #ca8b04, #18181b);
  /* background: conic-gradient(from 0deg at 0% 0%, #18181B 25%, #475e8a 90%, #3b4c5c); */
  /* background: radial-gradient(circle, #ca8b046c, #ca8b04bb, #ca8b0400, #1d1f2005, #1d1f2000 ); */
  background-color: #ca8b04;
  background-size: 100vw;
}

/* =========== IMAGE SHADOW HOVER ============ */

.f-image-shadow {
  box-shadow: 0px 0px 30px #000000b3;
  transition: box-shadow 0.3s ease;
}

.f-image-shadow:hover {
  box-shadow: 0 0 120px rgba(255, 224, 87, 0.8) !important; /* Yellow shadow color */
}

/* .spin-hover {
  transition: transform 2.5s ease; 
}

.spin-hover:hover {
  box-shadow: 0 0 120px rgba(255, 224, 87, 0.8); 
  transform: rotate(360deg); 
} */

/* =================== FIRST SECTION END ================= */

/* ==================== EXTRAS SECTION =================== */

#extras-sect {
  /* background: -webkit-linear-gradient(270deg, #ca8b04, #ca8b04); */
  /* background: conic-gradient(from 0deg at 0% 0%, #18181B 25%, #475e8a 90%, #3b4c5c); */
  /* background: radial-gradient(circle, #ca8b046c, #ca8b04bb, #ca8b0400, #1d1f2005, #1d1f2000 ); */
  /* background-size: 100vw; */
  background-color: #18181b;
  /* height: 20vh; */

  /* overflow: hidden;
  padding: 50px 0;

  white-space: nowrap; */
  position: relative;
}

/* @keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} */

#extras-sect:before,
#extras-sect:after {
  position: absolute;
  /* top: 0; */
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

#extras-sect:before {
  left: 0;
  background: linear-gradient(to right, #ca8b047c, #ca8b0434, #00000000);
}

#extras-sect:after {
  right: 0;
  background: linear-gradient(to left, #ca8b047c, #ca8b0434, #00000000);
}

/* #extras-sect:hover .extras-slide {
  animation-play-state: paused;
}

.extras-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
  animation-timing-function: linear;
  width: 100%;


} */

/* .extras-slide img {
  height: 50px;
  margin: 0 40px;
} */

/* @media (max-width: 640px) {
  #extras-sect {
    height: 100%;
  }

  #extras-sect:before,
  #extras-sect:after {
    width: 20px;
  }

  .extras-slide {
    margin-right: 3px;
  }
} */

/* ==================== EXTRAS SECTION =================== */

/* =================== PROJECT SECTION ================= */

#second-sect {
  /* background: -webkit-linear-gradient(0deg, #ca8b04, #ca8b04); */
  /* background: conic-gradient(from 0deg at 0% 0%, #18181B 25%, #475e8a 90%, #3b4c5c); */
  /* background: radial-gradient(
    circle,
    #ca8b04,
    #18181b,
    #18181b,
    #18181b,
    #18181b
  ); */
  background-color: #18181b;
  background-size: 100vw;

  .custom-border {
    position: relative;
    padding-top: 20px;
    border: 2px solid #635b4b;
    border-radius: 15px;
    background-color: #302c2580;
  }

  .custom-border:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3.5%;
    background-color: #18181b;
    /* border: 2px solid #ca8b04 !important; */
    border-bottom: none;
    border-top: none;
    /* border-radius: 0 0 10px 10px; */
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    z-index: 1;
    transition: background-color 1s ease-in-out, width 1s ease-in-out,
      border 0.5s ease-in-out;
  }

  .custom-border:hover:before {
    background-color: #635b4b;
    border: 2px outset #ca8b04 !important;
    width: 80%;
  }
}

/* .smiley-hover:hover path {
  fill: #ff0000;
} */

#mycontacts {
  position: relative;
  /* top: 6px;
  left: 4px; */
  display: inline-block;
  overflow: hidden;
  list-style: none;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#mycontacts::before {
  content: "my contacts.";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #ca8b04 20%,
    #f0d9af 40%,
    #ffbb00 100%
  ) !important;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: soon 2s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* mix-blend-mode: overlay;  */
  /* z-index: -1; */
}

@keyframes soon {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.smiley path,
.coming path,
.soon path {
  animation: fillAnimation 4s linear infinite;
}

@keyframes fillAnimation {
  0% {
    /* fill: #ca8b04; */
    fill: #ca8b0400;
  }
  25% {
    fill: #635b4b;
  }
  50% {
    fill: #ca8b04;
    /* fill: #d17070; */
  }
  75% {
    /* fill: #ff0000; */
  }
  100% {
    fill: #ca8b0400;
  }
}

/* @media (max-width: 2034px) {
  #mycontacts {
    top: 0px;
    left: 0px;
  }
}

@media (max-width: 1781px) {
  #mycontacts {
    top: 6px;
    left: 4px;
  }
}

@media (max-width: 1291px) {
  #mycontacts {
    top: 0px;
    left: 0px;
  }
}

@media (max-width: 1153px) {
  #mycontacts {
    top: 6px;
    left: 4px;
  }
}

@media (max-width: 1028px) {
  #mycontacts {
    top: 0px;
    left: 0px;
  }
} */
/* =================== PROJECT SECTION END ================= */

/* =================== ABOUT SECTION ================= */
.a-image-shadow {
  box-shadow: 0px 0px 30px #000000b3;
  transition: box-shadow 0.3s ease;
}

.a-image-shadow:hover {
  box-shadow: 0 0 12px rgb(231, 164, 38) !important; /* Yellow shadow color */
}

/* =================== ABOUT SECTION END ================= */

/* =================== CONTACT SECTION ================= */

#contacts-hov {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #ca8b04 20%,
    #f0d9af 40%,
    #ffbb00 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  transition: background-position 0.5s ease; /* Smooth transition for hover effect */
}

#contacts-hov:hover {
  animation: contacts 1s linear infinite;
}

@keyframes contacts {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* ================ CONTACT SECTION END ============== */

/* ============== navigation ============= */

/* #back-to-top-btn {
  transform: rotate(225deg);
  box-shadow: 10px 10px 30px #bd1010b3;
  transition: box-shadow 0.3s ease;
  background-color: #18181b;
} */

#back-to-top-btn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  padding: 10px;
  border-radius: 50%;
  background-color: #18181b;
  box-shadow: 10px 10px 30px #bd1010b3;
  transform: rotate(225deg);
  opacity: 0;
  visibility: hidden; /* Start hidden */
  transition: opacity 0.5s ease, visibility 0.5s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

#back-to-top-btn.visible {
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  box-shadow: 0 0 12px rgb(231, 164, 38) !important; /* Yellow shadow color */
}

#back-to-top path {
  animation: fillAnimation 3s linear infinite;
  z-index: 99 !important;
}

@keyframes fillAnimation {
  0% {
    /* fill: #ca8b04; */
    fill: #ff0000;
  }
  25% {
    fill: #ffe347;
  }
  50% {
    fill: #ca8b04;
    /* fill: #d17070; */
  }
  75% {
    fill: #b3afaf;
  }
  100% {
    fill: #ac9054;
  }
}

/* ======================== */
