@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom styles and animations here */
.swiper-slide {
  transition: opacity 0.5s ease;
  /* Add a smooth transition for the fade effect */
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  /* Set the opacity for non-active slides */
}

.swiper-container {
  overflow: hidden;
}

/* =========== IMAGE SHADOW HOVER ============ */

.image-shadow {
  box-shadow: 0px 0px 30px #000000b3; /* Yellow shadow color */
}

.hover-shadow {
  transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
  box-shadow: 0 0 120px rgba(255, 224, 87, 0.8) !important; /* Yellow shadow color */
}

.spin-hover {
  transition: transform 2.5s ease; /* Transition for spinning animation */
}

.spin-hover:hover {
  box-shadow: 0 0 120px rgba(255, 224, 87, 0.8); /* Yellow shadow color on hover */
  transform: rotate(360deg); /* Rotate 360 degrees on hover */
}

/* =========== IMAGE SHADOW HOVER ============ */
