@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
/* ====================================== */

.navbar-bgc {
  background: -webkit-linear-gradient(90deg, #18181b, #ca8b04, #18181b);
}

/* Add your custom styles and animations here */
.swiper-slide {
  transition: opacity 0.5s ease;
  /* Add a smooth transition for the fade effect */
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  /* Set the opacity for non-active slides */
}

.swiper-container {
  overflow: hidden;
}

/* =================== FIRST SECTION ================= */

#first-sect {
  background: -webkit-linear-gradient(90deg, #18181b, #ca8b04, #18181b);
  /* background: conic-gradient(from 0deg at 0% 0%, #18181B 25%, #475e8a 90%, #3b4c5c); */
  /* background: radial-gradient(circle, #ca8b046c, #ca8b04bb, #ca8b0400, #1d1f2005, #1d1f2000 ); */
  background-color: #ca8b04;
  background-size: 100vw;
}

/* =========== IMAGE SHADOW HOVER ============ */

.image-shadow {
  box-shadow: 0px 0px 30px #000000b3; /* Yellow shadow color */
}

.hover-shadow {
  transition: box-shadow 0.3s ease;
}

.hover-shadow:hover {
  box-shadow: 0 0 120px rgba(255, 224, 87, 0.8) !important; /* Yellow shadow color */
}

/* .spin-hover {
  transition: transform 2.5s ease; 
}

.spin-hover:hover {
  box-shadow: 0 0 120px rgba(255, 224, 87, 0.8); 
  transform: rotate(360deg); 
} */

/* =========== IMAGE SHADOW HOVER ============ */

/* =================== FIRST SECTION END ================= */

/* ==================== EXTRAS SECTION =================== */

#extras-sect {
  /* background: -webkit-linear-gradient(270deg, #ca8b04, #ca8b04); */
  /* background: conic-gradient(from 0deg at 0% 0%, #18181B 25%, #475e8a 90%, #3b4c5c); */
  /* background: radial-gradient(circle, #ca8b046c, #ca8b04bb, #ca8b0400, #1d1f2005, #1d1f2000 ); */
  /* background-size: 100vw; */
  background-color: #18181b;
  /* height: 20vh; */

  /* overflow: hidden;
  padding: 50px 0;

  white-space: nowrap; */
  position: relative;
}

/* @keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} */

#extras-sect:before,
#extras-sect:after {
  position: absolute;
  /* top: 0; */
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

#extras-sect:before {
  left: 0;
  background: linear-gradient(to right, #ca8b047c, #ca8b0434, #00000000);
}

#extras-sect:after {
  right: 0;
  background: linear-gradient(to left, #ca8b047c, #ca8b0434, #00000000);
}

/* #extras-sect:hover .extras-slide {
  animation-play-state: paused;
}

.extras-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
  animation-timing-function: linear;
  width: 100%;


} */

/* .extras-slide img {
  height: 50px;
  margin: 0 40px;
} */

/* @media (max-width: 640px) {
  #extras-sect {
    height: 100%;
  }

  #extras-sect:before,
  #extras-sect:after {
    width: 20px;
  }

  .extras-slide {
    margin-right: 3px;
  }
} */

/* ==================== EXTRAS SECTION =================== */

/* =================== SECOND SECTION ================= */

#second-sect {
  /* background: -webkit-linear-gradient(0deg, #ca8b04, #ca8b04); */
  /* background: conic-gradient(from 0deg at 0% 0%, #18181B 25%, #475e8a 90%, #3b4c5c); */
  /* background: radial-gradient(
    circle,
    #ca8b04,
    #18181b,
    #18181b,
    #18181b,
    #18181b
  ); */
  background-color: #18181b;
  background-size: 100vw;

  .custom-border {
    position: relative;
    padding: 20px;
    border: 2px solid rgb(228, 13, 13);
    border-radius: 15px;
    background-color: rgb(219, 9, 9);
  }

  .custom-border:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px;
    background-color: #18181b;
    border: 2px solid rgb(248, 6, 6);
    border-bottom: none;
    border-top: none;
    /* border-radius: 0 0 10px 10px; */
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    z-index: 1;
  }
}

/* =================== SECOND SECTION END ================= */
